section {
  padding: 10rem 0 10rem 0;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-left: 3rem;
  margin-right: 3rem;
}
.card {
  margin: 1.5rem;
  width: 500px;
  height: 200px;
  overflow: hidden;
  padding: 2rem;
  border: 2px solid black;
  border-radius: 10px;
}
.card-title {
  font-weight: 600;
  text-align: center;
  margin-bottom: 10px;
  font-size: 1.5rem;
}
.card-text {
  text-align: justify;
  font-size: 1rem;
}

@media screen and (max-width: 1220px) {
  .card {
    margin: 1.8rem;
    width: 380px;
    height: 250px;
    padding: 2rem;
  }
  .card-title {
    font-size: 1.3rem;
  }
  .card-text {
    font-size: 16px;
  }
}

@media screen and (max-width: 970px) {
  .card {
    margin: 0px 0px 3rem 0px;
    width: 650px;
    height: 250px;
    padding: 3rem;
  }
}

@media screen and (max-width: 780px) {
  .card {
    margin: 0px 0px 2.5rem 0px;
    width: 600px;
    height: 250px;
    padding: 3rem;
  }
  .card-title {
    font-size: 1.3rem;
  }
  .card-text {
    font-size: 16px;
  }
}

@media screen and (max-width: 450px) {
  .container {
    margin: 0px 2.5rem 0rem 2.5rem;
  }
  .card {
    margin-bottom: 2rem !important;
    width: 430px;
    height: 250px;
    padding: 1.5rem;
  }
  .card-title {
    font-size: 1.2rem;
  }
  .card-text {
    font-size: 15px;
  }
}

@media screen and (max-width:390px) {
    .card {
        height: 300px;
        width: 420px;
    }
}
