
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: transparent;
    box-shadow: 0 40px 60px white;
    padding: 20px 160px;
    box-shadow: 0 5px 15px white;
    height: 80px;
    z-index: 1000;
  }
  .logo-container {
    display: flex;
    align-items: center;
  }
  
  .logo-container img {
    margin-right: 10px;
  }
  
  .sticky-nav {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
    background-color: #fff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 10000;
  }
  
  .circle {
    border-radius: 50%;
    height: 50px;
    width: 50px;
    margin-left: 50px;
  }
  
  #navbar {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  #navbar li {
    list-style: none;
    padding: 0px 20px;
    position: relative;
  }
  
  #navbar li a {
    text-decoration: none;
    font-weight: 600;
    color: black;
    font-size: 1.3rem;
    transition: 0.3s ease-in-out;
  }
  
  #navbar li a:hover,
  #navbar li .active {
    color: #008080;
    cursor: pointer;
  }
  
  #navbar li a:hover::after,
  #navbar li a.active::after {
    content: "";
    width: 40%;
    height: 3.5px;
    background-color: #008080;
    position: absolute;
    bottom: -2px;
    left: 30px;
  }
  #mobile {
    display: none;
  }
  
  #mobile i {
    color: black;
  }
  
  @media screen and (max-width: 1250px) {
    nav {
      padding: 20px 120px;
    }
  }
  
  @media screen and (max-width: 1150px) {
    nav {
      padding: 20px 80px;
    }
    .nav-title {
      font-size: 1.5rem;
      margin-left: 5px;
    }
    #navbar li a {
      font-size: 1.2rem;
    }
    .circle {
      height: 40px;
      width: 40px;
      margin-left: 50px;
    }
  }
  
  @media screen and (max-width: 1050px) {
    #navbar {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      position: fixed;
      top: 65px;
      right: -400px;
      width: 400px;
      height: 100vh;
      background: transparent;
      box-shadow: 0 40px 60px white;
      padding: 40px 0 0 10px;
      transition: 0.4s ease-in;
      z-index: 2;
    }
    .circle {
      margin-left: 10px;
    }
  
    #navbar.active {
      right: 0;
      background-color: white;
      z-index: 2;
    }
    #mobile {
      display: block;
    }
    #navbar li a {
      color: black;
    }
    #navbar li {
      margin-bottom: 25px;
    }
    #mobile i {
      font-size: 24px;
      cursor: pointer;
    }
  }
  
  @media screen and (max-width: 600px) {
    nav {
      padding: 20px;
    }
    .circle {
      margin-left: 10px;
    }
    #navbar.active {
      right: 0;
      background-color: white;
      z-index: 2;
    }
    #mobile {
      display: block;
    }
    #navbar li a {
      color: black;
    }
    #navbar li {
      margin-bottom: 25px;
    }
    #mobile i {
      font-size: 24px;
      cursor: pointer;
    }
  }
  @media screen and (max-width: 450px) {
    .nav-title {
      font-size: 1.5rem;
    }
    .circle {
      margin-left: 1px;
    }
    #navbar li {
      padding: 0px 70px;
    }
    #navbar li a:hover::after,
    #navbar li a.active::after {
      width: 30%;
      left: 70px;
    }
  }
  