.footer {
  display: flex;
  flex-direction: row;
  line-height: 2.6;
  background-color: black;
  color: white;
  height: 300px;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}

.contact img {
  height: 30px;
  width: 30px;
  margin-left: 10px;
  margin-top: 30px;
}

<<<<<<< HEAD

@media only screen and (max-width: 600px) {
  .footer {
  height: 400px;
=======
.phone-number {
  text-align: center;
}

.phone-email-wrapper {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
}

@media only screen and (max-width: 600px) {
  .footer {
>>>>>>> 14be1adca46de35ea7a3bfd7c427a93e28be170a
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-around;
    align-items: center;
    height: auto;
    line-height: 2.6;
  }
  .pages {
    display: flex;
    flex-direction: row;
  }
  .link,
  .img {
    margin-left: 10px;
  }
<<<<<<< HEAD

  .phone{
    text-align: center;
  }

=======
>>>>>>> 14be1adca46de35ea7a3bfd7c427a93e28be170a
}
