.footer {
  margin-top: 8rem;
  display: flex;
  flex-direction: row;
  line-height: 2.7;
  background-color: black;
  color: white;
  height: 270px;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  font-family: "Lora", serif;
}
.contact img {
  height: 30px;
  width: 30px;
  margin-left: 10px;
  margin-top: 30px;
}
.phone-email-wrapper {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
}
.phone-email {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.pages{
 cursor: pointer;
}

.pages a {
  position: relative;
  text-decoration: none; 
}

.pages a::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  background-color: #008080;
  transition: width 0.3s ease; 
  color: #008080;
}

.pages a:hover::after {
  width: 100%;
}

@media only screen and (max-width: 600px) {
  .footer {
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-around;
    align-items: center;
    height: auto;
    line-height: 2.6;
  }
  .pages{
    display: flex;
    flex-direction: row;

  }
  .link,
  .img {
    margin-left: 10px;
  }
}
