
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
/* 
body {
  overflow-x: hidden;
} */



nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: transparent; 
  box-shadow:0 40px 60px white;
  padding: 20px 160px;
  box-shadow: 0 5px 15px white;
  height: 80px;

}
.logo-container {
  display: flex;
  align-items: center; 
}

.logo-container img {
  margin-right: 10px; 

}


.sticky-nav {
  position: fixed;
  top: 0; 
  width: 100%;
  z-index: 100; 
  background-color: #fff; 
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
}

.circle{
  height: 55px;
  width: 55px;
  margin-left: 50px;
}

#navbar {
  display: flex;
  justify-content: center;
  align-items: center;
}

#navbar li {
  list-style: none;
  padding: 0px 20px;
  position: relative;
}

#navbar li a {
  text-decoration: none;
  font-weight: 600;
  color: black;
  font-size: 1.3rem;
  transition: 0.3s ease-in-out;
}

#navbar li a:hover,
#navbar li .active {
  color: #008080;
}

#navbar li a:hover::after,
#navbar li a.active::after {
  content: "";
  width: 50%;
  height: 2px;
  background-color: #008080;
  position: absolute;
  bottom: -2px;
  left: 20px;
}
#mobile {
  display: none;
}

#mobile i {
  color: black;
}


@media screen and (max-width: 768px) {
  #navbar {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    position: fixed;
    top: 65px;
    right: -400px;
    width: 100%;
    height: 100vh;
    background: transparent; /* Set background to transparent */
     box-shadow: 0 40px 60px white;
    padding: 40px 0 0 10px;
    transition: 0.4s ease-in;
    z-index: 2; 
  }

  nav {
    padding: 20px;
   
  }
  .circle{
    margin-left: 10px;
  }

  #navbar.active {
    right: 0;
    background-color: white; 
    z-index: 2; 
  }
  #mobile {
    display: block;
  }
  #navbar li a {
    color: black;
  }
  #navbar li {
    margin-bottom: 25px;
  }
  #mobile i {
    font-size: 24px;
    cursor: pointer;
  }
}


/* home css */
.main {
  padding-top: 200px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding-left: 100px;

}

.home{
  height: 93vh;
}

.animation {
  position: relative;
}

.animation span::before {
  content: "Web developer";
  animation: slide 4s infinite ease-in;
}

.animation span::after {
  content: "";
  white-space: nowrap;
  position: absolute;
  width: 0;
  height: 100%;
  top: 0;
  left: 100%;
}
.image{
  padding-left: 150px;
}

@keyframes slide {
  0% {
    content: "Designer";
  }
  50% {
    content: "Android developer";
  }
}
.content-text{
  width: 550px;
  text-align: justify;
  margin-top: 20px;
  line-height: 1.8;
}
.content-text h4 {
  text-align: inherit;
}
.resume-btn{
  color: white;
  background-color:  #008080;
  margin-top: 30px;
  padding: 10px 20px; 
  cursor: pointer;
  border-radius: 10px;
}


.image {
  max-width: 100%; 
  height: auto; 

}

.animation {
  font-size: 2rem;
}

.name {
  font-size: 4rem;
  color: #008080;
}
.heygreet {
  font-size: 1.2rem;
  font-weight: bold;
}


@media screen and (max-width: 650px) {

.content-text{
  width: 100px;
}

.image{
  padding-left: 50px;
}
  .myimage{
    height: 500px;
    width: 400px;
  
  }

  .box {
    padding: 20px; /* Adjust the padding for the "box" element on small screens */
  }
 
  .main {
    padding-top: 100px;
    padding-left: 50px;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
  }
 
 

  .content-text p {
    text-align: inherit;
    width: 350px;
    padding-left: 30px;
  }

  .home{
    height: 130vh;
  }

  .btnbox{
    display: flex;
    justify-content: center;
    align-content: center;
  }
}

@media screen and (max-width: 450px){

  
  .image{
    padding-left: 10px;
  }
   
  .main {
    padding-left: 20px;

  }

  .content-text p {
    text-align: inherit;
    width: 250px;
    padding-left: 10px;
  }

  .myimage{
    height: 400px;
    width: 300px;
  
  }

 
}


/* abou css */


.content-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.boxabout0 {
  padding: 10px; 
}

.boxabout1 {
  padding: 55px;
}

.boxabout0 img {
  height: auto;
  border-radius: 20px;
}
.boxabout1{
  text-align: justify;
  width: 80vh;
  height: 100%;
}

.highlight{
  color: #008080;
  font-size: 20px;
  font-weight: 600;
  text-decoration:underline;
}

.about-text{
  line-height: 1.8;
  font-size: larger;
  font-style: bold;
}

.boxabout1 p {
  font-size: 16px;
  line-height: 1.8;
  margin: 20px;
  text-align: inherit;
}


.about-container {
  text-align: center;
  /* padding: 10px; */

}

/* .title{
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
  padding-top: 50px;
} */

.title-text {
  border-bottom: 3px solid #008080; 
  display: inline; 
  padding: 10px; 
}

@media screen and (max-width: 600px){

  .boxabout0, .boxabout1{
    padding: 0px;
   
  }

}

/* project css */

.p-title {
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
  padding: 50px;
}



.project-title {
  text-align: center;
  font-size: 1.5rem;
  font-weight: bold;
  padding: 20px;
}

.project-title-text,
.p-title-text {
  border-bottom: 3px solid #008080;
  display: inline;
  padding: 10px;
}

.project-container {
  max-width: 1150px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 50px;
  padding-bottom: 3rem;
}

.project-card {
  padding: 1rem;
  position: relative;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0px 4px 4px rgba(47, 45, 45, 0.2);
  background-color: white;
}

.project-card img {
  width: 100%;
}

.project-card .project-description {
  position: absolute;
  bottom: 0; /* Change from top to bottom */
  left: 0;
  width: 100%;
  color: black;
  border-radius: 10px;
  background-color: rgb(246, 240, 240);
  padding: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  box-shadow: 0 -4px 8px rgba(0, 0, 0, 0.2);
  transform: translateY(100%);
  transition: transform 0.3s;
}

.project-card:hover .project-description {
  transform: translateY(0);
}

.project-card .project-btn {
  display: flex;
  justify-content: space-between;
}

.teal {
  background-color: #008080;
  color: white;
  padding: 10px 15px;
  cursor: pointer;
  font-weight: bold;
  margin-top: 20px;
  border-radius: 10px;
}

.container {
  width: 100vw;
}

@media screen and (max-width: 600px) {
  .project-container {
    max-width: 400px;
    margin: auto;
    grid-template-columns: 1fr;
  }

  .container {
    margin-top: 10%;
  }
}

/* scroll  */
.reveal{
  position: relative;
  transform: translateY(150px);
  opacity: 0;
  transition: all 2s ease ;
}

.reveal.active{
  transform: translateY(0px);
  opacity: 1;
}